* {
  margin: 0;
}


.menu_admin {
  text-decoration: none;
  color:#669933;
  border:solid coral;
}

.menu_membre {
    text-decoration: none;
    color: yellow;
    border:solid grey;
  }

.conteneur {
  margin: 0 auto;
}

.logo { 
  text-align: left;
}

/**************************************************** HAUT ************************************************/
header {
  background: #000000;
  padding: 5px;
  text-align: center;
}
header span {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 5%;
}
header nav {
  display: inline;
}
header a {
  color: #ffffff;
  text-decoration: none;
  padding: 5px;
}
header nav a:hover {
  background: #04baf6;
}
/**************************************************** MILIEU ************************************************/

.centre{ 
    text-align: center; 
    background-color: lightgrey;  
    }

.cadre{
    border: solid;
}

section {
  padding: 30px;
  min-height: 800px;
}
/**************************************************** BAS ************************************************/
footer {
  background: #000;
  color: white;
  text-align: center;
  padding: 7px 0;
}
/**************************************************** GENERAL ************************************************/
.erreur {
  background: #ff0000;
  padding: 5px;
  margin: 5px;
}
.validation {
  background: #669933;
  padding: 5px;
  margin: 5px;
}
